@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 60 56% 91%;
    --foreground: 60 10% 10%;
    --card: 60 50% 98%;
    --card-foreground: 60 10% 10%;
    --popover: 60 50% 98%;
    --popover-foreground: 60 10% 10%;
    --primary: 113 34% 55%;
    --primary-foreground: 113 15% 95%;
    --secondary: 60 40% 85%;
    --secondary-foreground: 60 10% 10%;
    --muted: 60 30% 88%;
    --muted-foreground: 60 10% 40%;
    --accent: 36 100% 64%;
    --accent-foreground: 36 100% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 60 20% 80%;
    --input: 60 20% 85%;
    --ring: 113 34% 55%;
    --chart-1: 113 34% 55%;
    --chart-2: 36 100% 64%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 220 20% 7%;
    --foreground: 60 56% 91%;
    --card: 220 20% 10%;
    --card-foreground: 60 56% 91%;
    --popover: 220 20% 10%;
    --popover-foreground: 60 56% 91%;
    --primary: 113 34% 55%;
    --primary-foreground: 113 15% 95%;
    --secondary: 220 10% 20%;
    --secondary-foreground: 60 56% 91%;
    --muted: 220 10% 15%;
    --muted-foreground: 60 30% 70%;
    --accent: 36 100% 64%;
    --accent-foreground: 36 100% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 10% 20%;
    --input: 220 10% 20%;
    --ring: 113 34% 55%;
    --chart-1: 113 34% 55%;
    --chart-2: 36 100% 64%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
